<div>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Amount</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of basketItems">
      <tr>
        <td>{{item.ProductName}}</td>
        <td>{{item.ProductCost}}</td>
        <td><input value="{{item.Amount}}" id="amount" type="number" min="0" (change)="this.changeAmount(item.Id)"></td>
        <td>
          <div style="display: inline-block" class="btn-group-vertical btn-block">
            <button class="btn btn-outline-dark" style="border-radius: 0px;" (click)="this.deleteItemFromBasket(item.Id)" >Remove</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
