<div class="main-container" *ngIf="userData | async as data; else loading">
  <div>
    <h4>User Profile</h4>
    <table>
      <tr>
        <td>
          <div>
            <img class="img-thumbnail" style="border: 4px solid dimgray;" src="{{data.imagePath}}" width="128" alt="Profile Image" />
          </div>
        </td>
        <td style="vertical-align: top;">
          <div style="margin-left: 10px;">
            <p>
              <b>FirstName:</b><span> {{data.firstName}}</span>
            </p>
            <p>
              <b>LastName:</b><span> {{data.lastName}}</span>
            </p>
            <p>
              <b>UserName:</b><span> {{data.userName}}</span>
            </p>
            <p>
              <b>Email:</b><span> {{data.email}}</span>
            </p>
            <p>
              <b>PhoneNumber:</b><span> {{data.phoneNumber}}</span>
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <button class="btn btn-outline-dark" style="border-radius: 0px;">Edit</button>
</div>

<ng-template #loading>
  <span>Loading...</span>
</ng-template>
  
