<div *ngIf="userData | async as data; else loading">
  <div><span>FirstName: {{data.FirstName}}</span><br>
    <span>LastName: {{data.LastName}}</span><br>
    <span>UserName: {{data.UserName}}</span><br>
    <span>Email: {{data.Email}}</span><br>
    <span>PhoneNumber: {{data.PhoneNumber}}</span>
    <span><img src="{{data.ImagePath}}" alt="Profile Image" ></span>
  </div>
  <button class="btn btn-outline-dark" style="border-radius: 0px;">Edit</button>
</div>

<ng-template #loading>
  <span>Loading...</span>
</ng-template>
  
