<div *ngIf="userData | async as data; else loading">
  <div><span>FirstName: {{data.firstName}}</span><br>
    <span>LastName: {{data.lastName}}</span><br>
    <span>UserName: {{data.userName}}</span><br>
    <span>Email: {{data.email}}</span><br>
    <span>PhoneNumber: {{data.phoneNumber}}</span>
    <span><img src="{{data.imagePath}}" alt="Profile Image" ></span>
  </div>
  <button class="btn btn-outline-dark" style="border-radius: 0px;">Edit</button>
</div>

<ng-template #loading>
  <span>Loading...</span>
</ng-template>
  
