<style>
  
</style>

<div class="main-container">
  <div class="control-menu">
      <div class="form-menu">
        <div class="row">
          <h4 class="col-sm-8">Providers List</h4>
          <div class="col-sm-2">
            <a class="btn btn-outline-dark" style="border-radius: 0px;">Add</a>
        </div>
      </div>
          
          <hr style="background-color: dimgray; height: 1px;" />
              <div class="form-group">
                  <label class="col-form-label" style="font-weight: bold">Search</label>
                  <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
              </div>
      </div>
      <div>
        <div class="pagination">
          <a (click)="leftPage()">&laquo;</a>
          <a>{{this.params.PageNumber}}</a>
          <a (click)="rightPage()">&raquo;</a>
      </div>
      </div>
  </div>

  <div class="items-container">
    <div *ngFor="let provider of providers">
      <div class="item-container" >
        <div>
          <span style="padding-right: 10px;">
            <a class="btn btn-outline-dark" style="border-radius: 0px;">Update</a>
            <a class="btn btn-outline-dark" style="border-radius: 0px;">Delete</a>
          </span>
            <b>Name: </b><span>{{provider.Name}}</span>
        </div>
    </div>
    <div style="margin-top: 10px"></div>
    </div>
  </div>
</div>

<ng-template #loading>
    <div>Loading...</div>
</ng-template>