<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-white">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['home']">
        <img src="assets/img/logo.png" width="64" style="border: 1px; border-style: solid; border-color: dimgray" class="rounded-circle logo" alt="Home" />
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item active">
              <a class="nav-link text-dark" [routerLink]="['catalog']" class="nav-link"><h4>Catalog</h4></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-dark" [routerLink]="['about']" class="nav-link"><h4>About</h4></a>
            </li>
            <li class="nav-item active" *ngIf="accountService.isAuthenticated();">
              <a class="nav-link text-dark" [routerLink]="['management']" class="nav-link"><h4>Management</h4></a>
            </li>
          </ul>
        </div>
        <div style="text-align: right">
          <ul class="navbar-nav flex-grow-1" *ngIf="accountService.isAuthenticated(); else login">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['basket']">
                <input type="button" value="Basket" class="btn btn-outline-dark" style="border-radius: 0px;" />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['profile']">
                <img src="assets/img/profiles/default.png" width="32" style="border: 1px; border-style: solid; border-color: dimgray" class="rounded-circle" alt="Profile">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['home']">
                <input type="button" (click)="logOut()" value="Log out" class="btn btn-outline-dark" style="border-radius: 0px;" />
              </a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</header>

<ng-template #login>
  <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['login']">
        <input type="button" value="Log in" class="btn btn-outline-dark" style="border-radius: 0px;" />
      </a>
    </li>
  </ul>
</ng-template>