.pagination {
    display: inline-block;
  }
  
  .pagination a {
    background-color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border: 1px solid dimgray;
  }
  
  .pagination a.active {
    background-color: var(--dark-color);
    color: white;
  }
  
  .pagination a:hover:not(.active) {
      background-color: dimgray;
      color: white;
    }